$primary-color: #bdd7ee;

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.myContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    height: 70px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: $primary-color;
}

.content {
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
}

.table-container {
    width: 400px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    #drop-zone {
        width: calc(100% - 10px);
        height:  calc(100% - 10px);
        border: 2px dashed #ccc;
        text-align: center;
        line-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-table {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .table-head {
            width: 100%;
            border-radius: 10px;
            height: 40px;
            background-color: $primary-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;

            text {
                color: white;
                font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
                font-size: 12px;
                font-weight: bold
            }
        }

        .table-body {
            flex: 1;
            overflow-y: auto;
            height: 100%;
            border-radius: 5px;
            margin: 5px;
            .table-body-wrapper{
                padding-bottom: 50px;
                .table-item {
                    margin-top: 5px;
                    width: 100%;
                    border-radius: 10px;
                    // border: 1px solid black;
                    height: 40px;
                    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3);
                    /* 水平偏移量 | 垂直偏移量 | 模糊半径 | 扩散半径 | 阴影颜色 */
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
    
                    text {
                        color: rgb(99, 99, 99);
                        font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
                        font-size: 12px;
                        font-weight: bold
                    }
    
                }
            }
            
        }

    }

}

.backgroud-container {
    flex: 1;
    margin: 5px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.foreground-container {
    width: 200px;
    margin: 5px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
