<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../static/bootstrap-icons-1.11.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <title>unitVis</title>
  </head>

  <body>
    <div class="myContainer">
      <div class="header"></div>
      <div class="content">
        <div class="table-container" >
          <div class ="drop-zone" id="drop-zone">
            <text>Drop CSV File Here</text>
          </div>
          <div class="custom-table"id="custom-table">
            <div class="table-head">
            </div>
            <div class="table-body">
              <div class="table-body-wrapper"> 
             
            </div>
            </div>
          </div>

        </div>
        <div class="backgroud-container">
          
        </div>
        <div class="foreground-container"></div>
      </div>
    </div>
    <script src="../static/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
    <script src="../static/js/table.js"></script>
  </body>
</html>
